{% import 'admin/layout.html' as layout with context -%}
{% extends 'admin/base.html' %}

{% block head_tail %}
  {{ super() }}
  <link href="{{ url_for('static', filename='layout.css') }}" rel="stylesheet">
{% endblock %}

{% block page_body %}


<div class="container">
<img src="{{ url_for('static',filename='images/banner.jpg') }}" width="400" height="75" />	

  <div class="navbar">
        <div class="navbar-inner">
          {% block brand %}
          <span class="brand">{{ admin_view.admin.name }}</span>
          {% endblock %}
          {% block main_menu %}
          <ul class="nav">
            {{ layout.menu() }}
          </ul>
          {% endblock %}
          {% block menu_links %}
          <ul class="nav pull-right">
            {{ layout.menu_links() }}
          </ul>
          {% endblock %}
          {% block access_control %}
          {% endblock %}
        </div>
  </div>

      {% block messages %}
      {{ layout.messages() }}
      {% endblock %}

      {% set render_ctx = h.resolve_ctx() %}

      {% block body %}
      {% endblock %}
</div>
    

{% endblock %}
